*
{
  color: white;
  font-size: 18px;
  font-weight: 300;
  box-sizing: border-box;
  font-family: 'Metrophobic', Arial, serif; font-weight: 400;
}

body
{
  padding: 0px;
  margin: 0px;
  background-color: #130244;
  background-image:url("fondo.png");
  background-repeat:repeat;
  height:100%;
}
footer{
  padding-top: 20px;
  background-color: #000000;
  width:100%;
  height:18vh;
}
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb{
  background-color:#5728c7;
  border-radius:3px;
}

body::-webkit-scrollbar-thumb:hover {
background-color:#290875;
}
.title{
  font-size: 50px;
  margin-top: 1vh;
  margin-bottom: 5vh;
}
.subtitle{
  font-size: 25px;
  margin-top: 2vh;
  margin-bottom: 4vh;
}
header,
section
{
  text-align: center;
  background-color: #260070;
  padding:30px;
}

header
{
  width: 100%;
  padding: 40px;
}

header,
section
{
  margin-bottom: 5px;
}

h1
{
  margin: 0;
}

body{
  font-family:arial,sans-serif;
    }

#nave{
  width:100%;
  height:120px;
  background:url(http://cdn.revistagq.com/uploads/images/thumbs/201252/los_100_mejores_hoteles_del_mundo_6554_645x485.jpg);
  background-size:cover;
  border-radius: 15px;
  margin-bottom: 100px;
}
#nave_wrapper{
  width:1100px;
  height:80px;
  background:#5728c7;
  margin-left:auto;
  margin-right:auto; 
  margin-top:0px;
  opacity:0.7;
  filter:alpha (opacity=70)
}

#nave_wrapper ul li{
  list-style:none;
  display:inline;
  font-weight:bold;
  padding:50px;
 
}
#nave_wrapper a{
  color:white;
  text-decoration:none;
  padding:10px
}
/*seleccion menu*/
#nave_wrapper ul li:hover{
  background:#290875;
  transition:all 0.45s;
    
}

section
{
  float: center;
  width: calc(99% - 100px);
  margin: 0 50px 50px 50px;
}


/*Menu de opciones*/
/* Left column (menu) */
.left {
  flex: 15%;
  padding: 15px 0;
}

.left h2 {
  padding-left: 8px;
}


/* Estilo el menú de navegación dentro de la columna izquierda */
* {
  box-sizing: border-box;
}

/* Crear un diseño de columna con Flexbox */
.row {
  display: flex;
}

/* Columna izquierda (menú) */
.left {
  flex: 25%;
  padding: 1px 0;
}

.left h2 {
  padding-left: 8px;
}

/* Columna derecha (contenido de la página) */
.center {
  flex: 5%;
  padding: 1px;
  }

.right {
  flex: 75%;
  padding: 1px;
  }

/* Estilo el menú de navegación dentro de la columna izquierda */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* color texto */
#myMenu li a {
  background-color: #19004d;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block
}
/* color selector Menu seccion */
#myMenu li a:hover {
  background-color: black;
}



/*tamaño caja mensaje*/
.form__fieldset{
  max-width: 1300px;
 }
/*titulo*/
.form__legend {
  font-weight: bold;
  font-size: 18px;
  color: white;
}
/*igualar texto y cajas*/
.form__row {
  margin-bottom: 0.2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}
/*cajas*/
.form__label {
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: white;
  flex: 1 0 120px;
  max-width: 400px;
}

/*tamaño= cajas*/
.form__textinput, .form__textarea {  
  flex: 1 0 300px;
  max-width: 500px;
  box-sizing: border-box;
  
  }

/*Borde cajas*/
.form__textinput:focus:invalid,
.form__textarea:focus:invalid {
    border: 2px solid red;
  font-size: 18px;
  color: black;
}
/*Borde cajas ya contestadas*/
 .form__textinput:valid ,
 .form__textinput:focus:valid ,
.form__textarea:valid ,
.form__textarea:focus:valid  {
  border: 2px solid green;
  font-size: 15px;
  color: black;
}

.form__textarea {
  height: 90px;
  
 }
 .button{
  background-color: black;
  color: white;
 }
